<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <header>
      <div class="logo"><a href="/">rundown.earth</a></div>
      <div class="top-navigation">
        
        {% include navigation.html %}

        <a href="/compare" class="nav-button {% if page.url == '/compare' %} current-button {% endif %}">
          <div>🎂-Year</div>
        </a>

        <a href="/about" class="nav-button {% if page.url == '/about' %} current-button {% endif %}">
          <div>About</div>
        </a>
      </div>
    </header>
    
    <div class="content">{{ content }}</div>
  </body>
</html>